html {
  scroll-behavior: smooth;
}

body {
  background: rgba(250, 250, 250, 0.4);
}

main {
  display: flex;
  flex-flow: column;
  font-family: "Roboto", sans-serif !important;
  background: #fff;
  border: 2px solid rgba(150, 150, 150, 0.2);
  border-radius: 10px;
  padding: 24px;
  width: 768px;
  margin: 0 auto;
}

.example-header {
  padding-block: 4px;
  padding-inline: 16px;
  background-image: linear-gradient(to right, rgba(235,237,239,1), rgba(255,255,255,0));
  border-radius: 50px;
}

.example {
  display: flex;
  flex-flow: column;
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  margin-block-start: 24px;
  align-items: center;
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}

.example hr {
  border: 1px dashed #eee;
  width: 100%;
  margin-block-start: 32px;
}

pre {
  width: 100%;
}

code {
  font-family: "JetBrains Mono", monospace !important;
  font-size: 13px;
  overflow: hidden !important;
}

.code {
  position: relative;
  width: 100%;
}

/* Example of popup for copy button: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_copy_clipboard2 */
.copy {
  content: "copy";
  min-width: 32px;
  min-height: 16px;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  padding: 4px;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  position: absolute;
  inset-block-start: 21px;
  inset-inline-end: 0;
  transition: all 100ms;
}

.copy:hover {
  border: 1px solid #aaa;
}

p {
  margin-block-start: 0;
  margin-block-end: 10px;
}

h2 {
  padding: 4px;
  border: 1px solid #aaa;
  border-radius: 50px;
  text-align: center;
}

h3 {
  margin-block-end: 0;
}

.screenshot {
  width: 40%;
}
