/*
 * The Roboto and Jetbrains Mono fonts are downloaded from Google Fonts.
 * They are included as <link> elements in the HTML page.
 * See https://www.w3schools.com/css/css_font_google.asp.
 */

:root {
  --color-primary: #0091D8;
  --color-secondary: #EB5BA5;
  --surface-color: #fff;
  --link-color: var(--color-primary);
  --link-visited-color: var(--color-primary);
  --body-grad-first-color: #C1C3C630;
  --body-grad-second-color: #DFEDEB40;
  --main-bg-color: #fff;
  --main-text-color: #000;
  --sidebar-bg-color: #fff;
  --sidebar-icon-color: #000;
  --tooltip-bg-color: #000000AD;
  --tooltip-text-color: #fff;
  --copy-button-text-color: #000;
  --copy-button-border-color: #e0e0e0;
  --example-bg-color: #fff;
  --example-header-text-color: #000;
  --example-header-grad-first-color: #EBEDEFFF;
  --example-header-grad-second-color: #FFFFFF00;
  --theme-switch-icon-color: #000;
  --theme-switch-bg-color: #fff;
}

[data-theme="dark"] {
  --surface-color: #1d1f21;
  --body-grad-first-color: #111215;
  --body-grad-second-color: #141517;
  --main-bg-color: var(--surface-color);
  --main-text-color: #e3e5ef;
  --sidebar-bg-color: var(--surface-color);
  --sidebar-icon-color: #fefefe;
  --tooltip-bg-color: #FFFFFFDD;
  --tooltip-text-color: #000;
  --copy-button-text-color: #eee;
  --copy-button-border-color: #ccc;
  --example-bg-color: transparent;
  --example-header-text-color: #141414;
  --example-header-grad-first-color: #b5bfc0e0;
  --example-header-grad-second-color: transparent;
  --theme-switch-icon-color: #fefefe;
  --theme-switch-bg-color: var(--surface-color);
}

html {
  scroll-behavior: smooth;
}

/* To center the main content in the page regardless of the sidebar
 * see https://stackoverflow.com/q/32378953
 * and https://stackoverflow.com/q/37891839
 */
body {
  background: radial-gradient(circle, var(--body-grad-first-color), var(--body-grad-second-color));
  padding: 8px 0 16px 0;
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

/* Animate the transition of light/dark theme */
code, body, main, aside {
  transition: background-color 200ms;
}

#theme-switch {
  visibility: hidden;
  position: absolute;
  padding: 8px;
  border: none;
  inset-inline-start: -56px;
  inset-block-start: 0;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  background: var(--theme-switch-bg-color);
  box-shadow: #0000002D 0 2px 4px;
}

/* Only change the color of the core and not rays
 * as it seems to make a better animation in terms of visuals
 */
#circle {
  fill: var(--theme-switch-icon-color);
  stroke: var(--theme-switch-icon-color);
}

aside {
  position: sticky;
  display: flex;
  flex-direction: column;
  margin-block-start: 180px;
  inset-block-start: 16px;
  border-radius: 8px;
  padding: 8px;
  gap: 16px;
  background: var(--sidebar-bg-color);
  box-shadow: #0000002D 0 2px 4px;
}

.side-item {
  display: flex;
  position: relative; /* So the tooltip can be positioned absolutely */
  flex-direction: row;
  align-items: center;
  width: 24px;
  height: 24px;
}

.tooltip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  inset-inline-end: 44px;
  width: max-content;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  color: var(--tooltip-text-color);
  background: var(--tooltip-bg-color);
  padding: 8px;
  border-radius: 4px;
  /* box-shadow: #0000002D 0 2px 4px; */
  transition: 200ms;
}

.tooltip:after {
  position: absolute;
  width: 0;
  height: 0;
  inset-block-start: 50%;
  inset-inline-end: -12px;
  transform: translate(0, -50%);
  border-width: 6px;
  border-color: transparent transparent transparent var(--tooltip-bg-color);
  border-style: solid;
  content: "";
}

.side-item .icon {
  fill: var(--sidebar-icon-color);
  transition: 100ms;
}

.side-item:hover .icon {
  fill: var(--link-color);
}

.side-item .icon:hover + .tooltip {
  inset-inline-end: 44px;
  visibility: visible;
  opacity: 1;
}

main {
  display: flex;
  position: relative; /* For the theme button to be positioned absolutely */
  flex-flow: column;
  font-family: "Roboto", sans-serif !important;
  color: var(--main-text-color);
  background: var(--main-bg-color);
  box-shadow: #0000002D 0px 2px 4px;
  border-radius: 10px;
  padding: 24px;
  width: 768px;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited-color);
}

.example-header {
  padding-block: 4px;
  color: var(--example-header-text-color);
  padding-inline: 16px;
  background-image: linear-gradient(to right, var(--example-header-grad-first-color), var(--example-header-grad-second-color));
  border-radius: 50px;
}

.example {
  display: flex;
  flex-flow: column;
  background: var(--example-bg-color);
  border-radius: 8px;
  padding: 16px;
  margin-block-start: 24px;
  align-items: center;
  /* box-shadow: 0 1px 3px #0000001E, 0 1px 2px #0000003D; */
}

.example hr {
  border: 1px dashed #eee;
  width: 100%;
  margin-block-start: 32px;
}

pre {
  width: 100%;
}

code {
  font-family: "JetBrains Mono", monospace !important;
  font-size: 13px;
  overflow: hidden !important;
}

.code {
  position: relative;
  width: 100%;
}

/* Example of popup for copy button: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_copy_clipboard2 */
.copy {
  content: "copy";
  min-width: 32px;
  min-height: 16px;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  padding: 4px;
  cursor: pointer;
  color: var(--copy-button-text-color);
  border: 1px solid var(--copy-button-border-color);
  border-radius: 3px;
  position: absolute;
  inset-block-start: 21px;
  inset-inline-end: 0;
  transition: all 100ms;
}

.copy:hover {
  border: 1px solid #aaa;
}

p {
  margin-block-start: 0;
  margin-block-end: 10px;
}

h2 {
  padding: 4px;
  border: 1px solid #aaa;
  border-radius: 50px;
  text-align: center;
}

h3 {
  margin-block-end: 0;
}

.screenshot {
  width: 40%;
}
