/*
 * The Roboto and Jetbrains Mono fonts are downloaded from Google Fonts.
 * They are included as <link> elements in the HTML page.
 * See https://www.w3schools.com/css/css_font_google.asp.
 */

* {
  --color-primary: #0091D8;
  --color-secondary: #EB5BA5;
  --link-color: var(--color-primary);
  --link-visited-color: var(--color-primary);
  --tooltip-on-light-bg-color: #000000AD;
  --tooltip-on-dark-bg-color: #FFFFFFDD;
}

html {
  scroll-behavior: smooth;
}

/* To center the main content in the page regardless of the sidebar
 * see https://stackoverflow.com/q/32378953
 * and https://stackoverflow.com/q/37891839
 */
body {
  background: radial-gradient(circle, #C1C3C630, #DFEDEB40);
  padding: 8px 0 16px 0;
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

aside {
  position: sticky;
  display: flex;
  flex-direction: column;
  margin-block-start: 180px;
  inset-block-start: 16px;
  border-radius: 8px;
  padding: 8px;
  gap: 16px;
  background: #fff;
  box-shadow: #0000002D 0 2px 4px;
}

.side-item {
  display: flex;
  position: relative; /* So the tooltip can be positioned absolutely */
  flex-direction: row;
  align-items: center;
  width: 24px;
  height: 24px;
}

.tooltip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  inset-inline-end: 44px;
  width: max-content;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  color: #fff;
  background: var(--tooltip-on-light-bg-color);
  padding: 8px;
  border-radius: 4px;
  /* box-shadow: #0000002D 0 2px 4px; */
  transition: 200ms;
}

.tooltip:after {
  position: absolute;
  width: 0;
  height: 0;
  inset-block-start: 50%;
  inset-inline-end: -12px;
  transform: translate(0, -50%);
  border-width: 6px;
  border-color: transparent transparent transparent var(--tooltip-on-light-bg-color);
  border-style: solid;
  content: "";
}

.side-item .icon {
  fill: #000;
  transition: 100ms;
}

.side-item:hover .icon {
  fill: var(--link-color);
}

.side-item .icon:hover + .tooltip {
  inset-inline-end: 44px;
  visibility: visible;
  opacity: 1;
}

main {
  display: flex;
  flex-flow: column;
  font-family: "Roboto", sans-serif !important;
  background: #fff;
  box-shadow: #0000002D 0px 2px 4px;
  border-radius: 10px;
  padding: 24px;
  width: 768px;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited-color);
}

.example-header {
  padding-block: 4px;
  padding-inline: 16px;
  background-image: linear-gradient(to right, #EBEDEFFF, #FFFFFF00);
  border-radius: 50px;
}

.example {
  display: flex;
  flex-flow: column;
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  margin-block-start: 24px;
  align-items: center;
  /* box-shadow: 0 1px 3px #0000001E, 0 1px 2px #0000003D; */
}

.example hr {
  border: 1px dashed #eee;
  width: 100%;
  margin-block-start: 32px;
}

pre {
  width: 100%;
}

code {
  font-family: "JetBrains Mono", monospace !important;
  font-size: 13px;
  overflow: hidden !important;
}

.code {
  position: relative;
  width: 100%;
}

/* Example of popup for copy button: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_copy_clipboard2 */
.copy {
  content: "copy";
  min-width: 32px;
  min-height: 16px;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  padding: 4px;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  position: absolute;
  inset-block-start: 21px;
  inset-inline-end: 0;
  transition: all 100ms;
}

.copy:hover {
  border: 1px solid #aaa;
}

p {
  margin-block-start: 0;
  margin-block-end: 10px;
}

h2 {
  padding: 4px;
  border: 1px solid #aaa;
  border-radius: 50px;
  text-align: center;
}

h3 {
  margin-block-end: 0;
}

.screenshot {
  width: 40%;
}

@media (prefers-color-scheme: dark) {
  body {
    background: radial-gradient(circle, #111215, #141517)
  }
  aside {
    background: #1d1f21;
  }
  .side-item .icon {
    fill: #fefefe;
  }
  .tooltip {
    background: var(--tooltip-on-dark-bg-color);
    color: #000
  }
  .tooltip:after {
    border-color: transparent transparent transparent var(--tooltip-on-dark-bg-color);
  }
  main {
    background: #1d1f21;
    color: #e3e5ef;
  }
  .copy {
    color: #eee;
    border-color: #ccc;
  }
  .example {
    background: transparent;
  }
  .example-header {
    background-image: linear-gradient(to right, #b5bfc0e0, transparent);
    color: #141414;
    border-radius: 50px;
  }
}
